$light-theme: #EBE7FF;
$dark-theme: #7F63FF;

$system-light: #E4E4E4;
$system-lighter: #F5F5F5;
$system-white: #FFFFFF;
$system-black: #000000;
$system-dark: #ABABAB;
$system-darker: #6C6C6C;
$system-red: #FFF2F2;
$system-red-dark: #AF4446;
$system-green: #F3FFF1;
$system-green-dark: #46A991;
$system-yellow: #FFF5EA;
$system-yellow-dark: #E4B14B;
$system-blue: #EAF4FF;
$system-blue-dark: #477DAC;

$primary-color: #5694FF;
$secondary-color: #7F63FF;
$white: #FFFFFF;

$user-bubble-color: #AFD8FF;
$bot-bubble-color: #CDC2FF;

$online-color: #2CFFB2;
$offline-color: #FF2C2C;

$border-color: #BFBFBF;
$font-color: #4B4A4A;
$border-width: 1px;
$primary-background: #EEF2F4;